// Breakpoints
// $breakpoint-xsmall: 400px;
// $breakpoint-small: 768px;
// $breakpoint-med: 960px;
// $breakpoint-large: 1200px;
// $breakpoint-xlarge: 1400px;
// Test Colours
$test1: pink;
$test2: steelblue;
$test3: lightgreen;
$test4: tomato;
// Core colors
$accent: #ed294f !default;
$light-grey: #d8cdcc !default;
$medium-grey: #6f7273 !default;
$dark-grey: #434c55 !default;
$footer: #2a3035 !default;
$font: #2f2f2f;
// Fonts
$body-font: "Poppins", sans-serif !default;
$headline-font: 'Merriweather', serif !default;
// Mobile Menu
$mob-menu-padding: 10px;
$navbar-height: 100px;
$navbar-scrolled-height: 80px;
