---
layout: default
title: HCAN Sourcing | We Manage, Optimize and Grow Your Amazon Business
permalink: /
page-class: home
description: 

page-hero-bg: hero-bg-2.jpg
page-hero-title: We Manage, Optimize and Grow Your Amazon&nbsp;Business.
page-hero-cta: LEARN MORE
page-hero-cta-link: "#link-target"

full-width-cta-white-headline: Amazon can be difficult for companies to&nbsp;manage.
full-width-cta-white-text: '<p>From optimizing listings to issues with MAP compliance, some businesses even grow to hate dealing with&nbsp;Amazon.</p>
<p><strong><em>That&rsquo;s where we come&nbsp;in.</em></strong></p>
<p class="last">Our goal is to be the strategic partner in the Amazon side of your business. We have years of <span class="no-wrap">e-commerce</span> experience and a deep understanding of the Amazon infrastructure which will maximize profitability and minimize problems for Your&nbsp;Business.</p>'
full-width-cta-white-btn-text: CONTACT US
full-width-cta-white-btn-link: #contact

three-col-img-l: lock.svg
three-col-img-l-alt: Lock Logo
three-col-img-l-title: Listing Optimization
three-col-img-l-text: We fully optimize to ensure high quality images, up to date product descriptions and more all to ensure an enhanced sell through&nbsp;rate
three-col-img-c: money.svg
three-col-img-c-alt: Money Logo
three-col-img-c-title: MAP Compliance
three-col-img-c-text: We help ensure MAP compliance within the Amazon ecosystem to prevent brand erosion and keep your brick & mortar retailers&nbsp;happy
three-col-img-r: check.svg
three-col-img-r-alt: Check Logo
three-col-img-r-title: Brand Protection
three-col-img-r-text: We help identify and remove unauthorized sellers of your products to ensure only approved sellers are listing your&nbsp;products

home-page-sec-3-headline: We offer a full service Amazon solution.
home-page-sec-3-text: '<p><em>If you&rsquo;re not selling your products on Amazon, someone else probably is.</em></p><p class="last">Like it or not, we live in the age of Amazon. That&rsquo;s why its so important to stake your brands place in the worlds bigget marketplace. Thankfully, we can do the hard work for&nbsp;you!</p><div class="list-wrapper"><ul class="left"><li>Listing creation</li><li>Copywriting</li><li>Product photos</li><li>Keyword research</li><li>Reviews</li></ul><ul class="right"><li>Promotions</li><li>Amazon PPC Advertising</li><li>Inventory management</li><li>Customer email support</li><li>Returns</li></ul></div>'

home-page-sec-6-headline: We offer a full service Amazon solution.
home-page-sec-6-text: '<p><em>If you&rsquo;re not selling your products on Amazon, someone else probably is.</em></p><p class="last">Like it or not, we live in the age of Amazon. That&rsquo;s why its so important to stake your brands place in the worlds bigget marketplace. Thankfully, we can do the hard work for&nbsp;you!</p>'

---

{% include page-hero.html %}
{% include full-width-cta-white.html %}
{% include three-col-img-c.html %}
{% include home-page-sec-3.html %}
{% include faq.html %}
{% include home-page-sec-6.html %}
{% include contact.html %}