
<div class="container grid-md tou">

    <h4>FAQ</h4>
    <p class="bm-3">Feel free to get in touch with us with any other questions you might&nbsp;have.</p>

    {% for item in site.data.lists.directors %}
    <div class="directors">
        <div class="accordion">
            <div class="title-wrapper">
                <div class="accordion-title">
                    <h6>
                        {{ item.title }}
                    </h6>
                </div>
                <div class="icon-wrapper">
                    <i class="fas fa-plus"></i>
                </div>
            </div>

            <div class="accordion-content">
                <p>{{ item.content }}</p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>