
<!-- footer -->
<footer class="footer">
	<div class="container grid-lg">
        
        <div class="footer-info">
            
            <div class="footer-info__left">
                <div class="footer-info__left__logo">
                    <a href="{{ en_link }}/"><img src="{{ site.url }}/assets/img/hcan-logo-white.svg" alt="HCAN Logo"></a>
                </div>
            </div>
            <div class="footer-info__right">
                <div class="footer-info__right__general">

                    <div class="btn-wrapper">
                        <a href="#contact" class="page-scroll btn btn-footer">CONTACT</a>
                    </div>
                    
                </div>
            </div>

        </div>
        
		<div class="footer-legal">

            <p class="left white legal-large">&copy;2018 HCAN Sourcing. All rights reserved.</p>

            <p class="right footer-menu">
                {% for item in site.data.menus.footer-menu.menu-items %}
                <a href="{{ en_link }}{{ item.url }}">{{ item.title }}</a> 
                <!-- <span>|</span>  -->
                {% endfor %}
            </p>
            
            
		</div>
	</div>
</footer> <!-- .footer -->