{% if page.page-class == "en-living" %}

<div class="full-width-slider__wrapper {{ page.page-class }}">

    <!-- .full-width-slider -->
    <div class="full-width-slider container">
    
        <div class="carousel-content-wrapper">
    
            {% for slide in site.data.sliders.living %}
            <!-- .carousel-content -->
            <div class="carousel-content" data-slide="{{ slide.slide }}" data-name="{{ slide.title }}" style="background: url('{{ site.url }}/assets/img/{{ slide.bg }}') center no-repeat; background-size: cover;"> 
                <div class="carousel-content-inner-wrapper">
                    <h5 class="modal-title">{{ slide.title }}<i class="fas fa-circle hb-pink hb-period"></i></h5>
                    <div class="modal-text">{{ slide.text }}</div>
                </div>  
            </div> <!-- /.carousel-content -->
            {% endfor %}
        </div> <!-- END #rc1 -->
    </div>
    <!-- /.full-width-slider -->
</div>

{% elsif page.page-class == "en-fall-prevention" %}

    <div class="full-width-slider__wrapper {{ page.page-class }}">

        <!-- .full-width-slider -->
        <div id="risk-carousel-1" class="full-width-slider container">
        
            <div class="carousel-content-wrapper">
        
                {% for slide in site.data.sliders.fall-prevention %}
                <!-- .carousel-content -->
                <div class="carousel-content" data-slide="{{ slide.slide }}" data-name="{{ slide.title }}" style="background: url('{{ site.url }}/assets/img/{{ slide.bg }}') center no-repeat; background-size: cover;"> 
                    <div class="carousel-content-inner-wrapper">
                        <h5 class="modal-title">{{ slide.title }}<i class="fas fa-circle hb-pink hb-period"></i></h5>
                        <div class="modal-text">{{ slide.text }}</div>
                    </div>  
                </div> <!-- /.carousel-content -->
                {% endfor %}
            </div> <!-- END #rc1 -->
        </div>
        <!-- /.full-width-slider -->
    </div>

{% elsif page.page-class == "en-consequences" %}

    <div class="full-width-slider__wrapper {{ page.page-class }}">

        <!-- .full-width-slider -->
        <div class="full-width-slider container">
        
            <div class="carousel-content-wrapper">
        
                {% for slide in site.data.sliders.consequences %}
                <!-- .carousel-content -->
                <div class="carousel-content" data-slide="{{ slide.slide }}" data-name="{{ slide.title }}" style="background: url('{{ site.url }}/assets/img/{{ slide.bg }}') center no-repeat; background-size: cover;"> 
                    <div class="carousel-content-inner-wrapper">
                        <h5 class="modal-title">{{ slide.title }}<i class="fas fa-circle hb-pink hb-period"></i></h5>
                        <div class="modal-text">{{ slide.text }}</div>
                    </div>  
                </div> <!-- /.carousel-content -->
                {% endfor %}
            </div> <!-- END #rc1 -->
        </div>
        <!-- /.full-width-slider -->
    </div>

{% endif %}