<section class="full-width-list__wrapper {{ page.page-class }}">
	<div class="full-width-list container grid-mdlg">
		<div class="full-width-list__content">
            
            {% if page.page-class == "prac-safety-info" %}
                <h1 class="list-title">{{ page.full-width-list-headline }}</h1>
            {% elsif page.page-class == "prac-start" %}
                <div class="title-wrapper">
                    <h1 class="list-title">{{ page.full-width-list-headline }}</h1>
                    <div class="img-wrapper">
                        <img src="{{}}/assets/img/{{ page.full-width-list-img }}" alt="">
                    </div>
                </div>
            {% else %}
                <h2 class="list-title">{{ page.full-width-list-headline }}</h2>
            {% endif %}

			{% if page.full-width-list-subhead %}
				<p>{{ page.full-width-list-subhead }}</p>
			{% endif %}

            {% if page.page-class == 'pat-about-osteo' %}
            
				{% for item in site.data.lists.pat-about-osteo %}	
					<p class="list-item-text">{{ item }}</p>
                {% endfor %}
                
            {% elsif page.page-class == 'prac-home' %}
            
				{% for item in site.data.lists.prac-home %}	
					<p class="list-item-text">{{ item }}</p>
                {% endfor %}
                
			{% elsif page.page-class == 'prac-efficacy' %}
				
				<div class="list-1">
					<h5 class="green">Study design and objectives</h5>
					{% for item in site.data.lists.prac-efficacy.one %}	
						<p class="list-item-text">{{ item }}</p>
					{% endfor %}
				</div>

				<div class="list-2">
					<h5 class="green">Subjects</h5>
					{% for item in site.data.lists.prac-efficacy.two %}	
						<p class="list-item-text">{{ item }}</p>
                    {% endfor %}
                    <p>The open-label <strong>FREEDOM</strong> extension study assessed long-term incidence of fractures. Among 2,343 women who received Prolia<sup class="body-sup">&reg;</sup> in the <strong>FREEDOM</strong> study and continued on therapy (years 4 through 10 of Prolia<sup class="body-sup">&reg;</sup> treatment), 1,343 (57.3%) completed 10&nbsp;years.</p>
				</div>

				<div class="icon-bullets__wrapper">	
                    {% include icon-bullets.html %}
                    <a href="/en/scientific-virtual-library/" class="arrow-cta">ACCESS FREEDOM TRIAL <br class="show-xsmall">IN THE VIRTUAL LIBRARY
                        <img src="{{ site.url }}/assets/img/green_arrow.svg" alt="Arrow Image">
                    </a>
                </div>
                
            {% elsif page.page-class == 'prac-safety-info' %}
                
                <div class="list list-1">
					{% for item in site.data.lists.prac-safety-info.one %}	
                        <h2 class="list-item-title">{{ item.title }}</h2>
                        {% for subitem in item.points %}
                            <p class="list-item-text">{{ subitem }}</p>
                        {% endfor %}
					{% endfor %}
                    <div class="warning-badge">
                        <p>Prolia<sup class="body-sup">&reg;</sup> is not indicated for use in pediatric patients.</p>
                    </div>
                    <div class="cta-wrapper">
                        <a href="/en/scientific-virtual-library/" class="arrow-cta">
                            Access FREEDOM trial<br class="show-xsmall"> in the virtual library
                            <img src="{{ site.url }}/assets/img/green_arrow.svg" alt="Arrow Image">
                        </a>

                        <a href="" class="arrow-cta black"></a>
                    </div>
				</div>

                <div class="list list-2">
                    {% for item in site.data.lists.prac-safety-info.two %}	
                        <h2 class="list-item-title">{{ item.title }}</h2>
                        {% for subitem in item.points %}
                            <p class="list-item-text">{{ subitem }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>

                <div class="list list-3">
                    {% for item in site.data.lists.prac-safety-info.three %}
                        <h2 class="list-item-title">{{ item.title }}</h2>
                        {% for subitem in item.points %}
                            <p class="list-item-text">{{ subitem }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>

            {% elsif page.page-class == 'prac-start' %}
            
                <div class="list">
                    {% for item in site.data.lists.prac-start %}	<p class="list-item-text">{{ item }}</p>
                    {% endfor %}
                </div>

                <div class="warning-badge--red">
                    <p><span class="block bold">IMPORTANT</span> In order to minimize accidental needle sticks, the Prolia<sup class="body-sup">&reg;</sup> single-use prefilled syringe has a green safety guard that should be manually activated after the injection is given to cover the&nbsp;needle<sup class="body-sup">1</sup></p>
                </div>

			{% endif %}

		</div>

        {% if page.full-width-list-cta %}
        <a href="{{ page.full-width-list-cta-link }}" class="arrow-cta">
            {{ page.full-width-list-cta }}
            <img src="{{ site.url }}/assets/img/{{ page.full-width-list-arrow-img }}" alt="Arrow Image">
        </a>
		{% endif %}

	</div>
</section>