<!-- full-width-cta-white__wrapper-2 -->
{% if page.page-class == 'prac-provital' %}
<div class="full-width-cta-white__wrapper full-width-cta-white__wrapper-2 {{ page.page-class }}" style="background:url('{{ site.url }}/assets/img/bitmap.jpg') bottom center no-repeat;">
{% else %}
<div class="full-width-cta-white__wrapper full-width-cta-white__wrapper-2 {{ page.page-class }}">
{% endif %}
    <div class="full-width-cta-white container grid-mdlg">

        <div class="full-width-cta-white__content">

            {% if page.full-width-cta-white-2-img %}
            <img src="{{ site.url }}/assets/img/{{ page.full-width-cta-white-img }}" alt="ProVital Logo">
            {% endif %}

            <h2>{{ page.full-width-cta-white-2-headline }}</h2>
            <p>{{ page.full-width-cta-white-2-text }}</p>

            <a href="#" class="btn download-btn">{{ page.full-width-cta-white-2-btn-text }}</a>

            {% if page.full-width-cta-white-food-img %}
            <div class="img-wrapper">
                <img src="{{ site.url }}/assets/img/{{ page.full-width-cta-white-food-img }}" alt="{{ page.full-width-cta-white-food-alt }}">
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- .full-width-cta-white__wrapper-2 -->