{% if page.page-class == "en-risk" %}
<!-- full-width-cta-w-icons__wrapper -->
    {% assign count = 1 %}
    {% for item in site.data.icons.en-whos-at-risk.icon-section %}
    <div class="full-width-cta-w-icons__wrapper {{ page.page-class }} {{ item.section }}">
        <div class="full-width-cta-w-icons container grid-md">
            <div class="full-width-cta-w-icons__content">
                <h2>{{ item.title }}</h2>
                <p>{{ item.subtitle }}</p>
                <div class="icons-wrapper">
                    {% assign count2 = 1 %}
                    {% for subitem in item.icons %}
                    <div class="icons" data-modal='{{ count }}' data-modal-slide='{{ count2 }}'>
                        <div class="img-wrapper">
                            <img src="{{ site.url }}/assets/img/{{ subitem.icon }}" alt="{{ subitem.alt }}">
                        </div>
                        <p class="caption">{{ subitem.caption }}</p>
                    </div>
                    {% assign count2 = count2 | plus:1 %}
                    {% endfor %}
                </div>
                <div class="subsection-wrapper">
                    
                    {% for subsec in item.subsection %}

                    <div class="primary">

                        <h5>{{ subsec.title }}</h5>
                        {% if subsec.subtitle %}
                        <p>{{ subsec.subtitle }}</p>
                        {% endif %}

                        {% if subsec.points %}
                            {% for point in subsec.points %}
                            <p>{{ point }}</p>
                            {% endfor %}
                        {% endif %}
                        
                    </div> <!-- /.primary -->

                    {% if subsec.accordion %}
                    <div class="secondary">
                        {% for item in subsec.accordion %}
                        
                            <div class="accordion-wrapper">
                                <div class="accordion-title">
                                    <div class="img-wrapper">
                                        {% svg /assets/img/expand_button.svg %}
                                    </div>
                                    <p>{{ item.title }}</p>
                                </div>
                            </div>   
                            <div class="accordion-content">
                                <ul>{{ item.content }}</ul>
                            </div>
                 
                        {% endfor %}

                    </div>
                    {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% assign count = count | plus:1 %}
    {% endfor %}

    {% include risk-modal-1.html %}
    {% include risk-modal-2.html %}
    
<!-- /.full-width-cta-w-icons__wrapper -->

{% elsif page.page-class == "en-prevention" %}

<!-- full-width-cta-w-icons__wrapper -->
{% assign count = 1 %}
{% for item in site.data.icons.en-prevention.icon-section %}
<div class="full-width-cta-w-icons__wrapper {{ page.page-class }} {{ item.section-number }}">
    <div class="full-width-cta-w-icons container grid-md">
        <div class="full-width-cta-w-icons__content">
            <h2>{{ item.title }}</h2>
            <p>{{ item.subtitle }}</p>
            <div class="icons-wrapper">
                {% assign count2 = 1 %}
                {% for subitem in item.icons %}
                <div class="icons" data-modal='{{ count }}' data-modal-slide='{{ count2 }}'>
                    <div class="img-wrapper">
                        <img src="{{ site.url }}/assets/img/{{ subitem.icon }}" alt="{{ subitem.alt }}">
                    </div>
                    <p class="caption">{{ subitem.caption }}</p>
                </div>
                {% assign count2 = count2 | plus:1 %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% assign count = count | plus:1 %}
{% endfor %}

{% include prev-modal-1.html %}
{% include prev-modal-2.html %}
<!-- /.full-width-cta-w-icons__wrapper -->

{% else %}

<!-- full-width-cta-w-icons__wrapper -->
<div class="full-width-cta-w-icons__wrapper {{ page.page-class }}">
    <div class="full-width-cta-w-icons container grid-mdlg">

        <div class="full-width-cta-w-icons__content">
            
            <h2>{{ page.full-width-cta-w-icons-headline }}</h2>
            {% if page.full-width-cta-w-icons-subhead %}
            <h6 class="hb-pink"><strong>{{ page.full-width-cta-w-icons-subhead }}</strong></h6>
            {% endif %}
            <div class="text-wrapper">
                {{ page.full-width-cta-w-icons-text }}
            </div>
            
            {% if page.page-class == "en-home" %}
            <div class="icons-wrapper">
                {% for item in site.data.icons.en-home %}
                <div class="icons">
                    <div class="img-wrapper">
                        <a href="{{ en_link }}{{ item.link }}"><img src="{{ site.url }}/assets/img/{{ item.icon }}" alt="{{ item.alt }}"></a>
                    </div>
                    <p class="caption">{{ item.caption }}</p>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% if page.page-class == "en-exercise" %}
            <div class="icons-wrapper">
                {% for item in site.data.icons.en-exercise %}
                <div class="icons">
                    <div class="img-wrapper">
                        <img src="{{ site.url }}/assets/img/{{ item.icon }}" alt="{{ item.alt }}">
                    </div>
                    <p class="caption">{{ item.caption }}</p>
                </div>
                {% endfor %}
            </div>
            {% endif %}

        </div>
    </div>
</div>
<!-- /.full-width-cta-w-icons__wrapper -->
{% endif %}