<!-- full-width-cta-white__wrapper-2 -->
<div id="who" class="home-page-sec-6__wrapper {{ page.page-class }}">
    <div class="home-page-sec-6 container grid-md">
        <div class="home-page-sec-6__content">

            <h4 class="bm-2">Who we are</h4>

            {% if page.home-page-sec-6-subhead %}
            <h6 class="hide-small">{{ page.home-page-sec-6-subhead }}</h6>
            {% endif %}

            {{ page.home-page-sec-6-text }}

            <p class="first"><em>We are Jeff McCann and Glen&nbsp;Hodges.</em></p>
            <p class="bm-2">Two longtime friends with a passion for all things&nbsp;Amazon.</p>

            <div class="img-wrapper">
                <img src="{{ site.url }}/assets/img/jeff.jpg" alt="Image of Jeff McCann">
                <img src="{{ site.url }}/assets/img/glen.jpg" alt="Image of Glen Hodges">
            </div>
            
            <p class="last">With over 8 years experience in the industry, together Jeff and Glen bring a diverse, well rounded skill set perfectly
            suited to dealing with our clients needs and providing the technical knowledge to help their brand stand out in the
            crowded Amazon&nbsp;marketplace.</p>

        </div>
    </div>
</div>
<!-- .full-width-cta-white__wrapper-2 -->