<!-- full-width-cta-white__wrapper-2 -->

<div id="link-target" class="   __wrapper {{ page.page-class }}">

    <div class="home-page-sec-6 container grid-md">
        <div class="home-page-sec-6__content">

            {% if page.home-page-sec-6-img %}
            <img src="{{ site.url }}/assets/img/{{ page.home-page-sec-6-img }}" alt="ProVital Logo">
            {% endif %}

            <h4 class="bm-2">{{ page.home-page-sec-6-headline }}</h4>

            {% if page.home-page-sec-6-subhead %}
            <h6 class="hide-small">{{ page.home-page-sec-6-subhead }}</h6>
            {% endif %}

            {{ page.home-page-sec-6-text }}

            {% if page.home-page-sec-6-btn-text %}
            
            <div class="btn-wrapper-left">
                <a href="{{ page.home-page-sec-6-btn-link }}" class="btn btn-blue">{{ page.home-page-sec-6-btn-text }}</a>
            </div>

            {% endif %}
        </div>
    </div>
</div>
<!-- .full-width-cta-white__wrapper-2 -->