<div class="mobile-menu">

    <div class="logo-wrapper">
        <a href="{{ en_link }}/" class="navbar-brand mr-10">
            <img src="{{ site.url }}/assets/img/hb-logo.svg" alt="Health &amp; Bone Logo">
        </a>
    </div>

    <div class="risk-btn">
        <div class="btn-wrapper">
            <a href="{{ en_link }}/en/osteoporosis-risk-assessment/" class="btn nav-btn animsition-link">Assess your risk</a>
        </div>
    </div>

    <div class="burger-wrapper mmenu-toggle">
        <a href="#mobile-nav" class="button_container" aria-label="Hamburger Menu">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </a>
    </div>
    
</div>