<nav class="mmenu-nav">

    <div class="mmenu-nav__level">
        <!-- <div class="mmenu-scroller"> -->

            <ul class="mmenu-nav__list">

                {% for item in site.data.menus.main-menu.menu-items %}
                <!-- .mmenu-nav__item -->
               
                <li class="mmenu-nav__item">                
                    <a class="mmenu-nav__link page-scroll" href="{{ item.url }}">{{ item.title }}</a>
                </li>
                
                <!-- /.mmenu-nav__item -->
                {% endfor %}

            </ul>
        <!-- </div> -->
    </div>
</nav>


