{% if page.page-class == "en-risk" %}
    <div id="risk-carousel-2" class="hb-carousel container grid-mdlg">

        <div class="carousel-content-wrapper">

            <!-- .close-btn -->
            <div class="close-btn">
                {% svg /assets/img/close_icon.svg %}
            </div>
            <!-- /.close-button -->

            {% for item in site.data.modals.risk-2 %}
            <!-- .carousel-content -->
            <div class="carousel-content" data-slide="{{ item.slide }}" data-name="{{ item.title }}" style="background: url('{{ site.url }}/assets/img/{{ item.bg }}') center no-repeat; background-size: cover;"> 

                <div class="left">
                    <div class="img-wrapper">
                        <img src="{{ site.url }}/assets/img/{{ item.icon }}" alt="{{ item.alt }}">
                    </div>
                </div>
                <div class="right">
                    <h5 class="modal-title">{{ item.title }}<i class="fas fa-circle hb-pink hb-period"></i></h5>
                    <p class="modal-text">{{ item.text }}</p>
                </div>  
            </div>
            <!-- /.carousel-content -->
            {% endfor %}

            <!-- START carousel navigation -->
            <div class="nav-arrows">
                <div class="left">
                    <div class="img-wrapper">
                            {% svg /assets/img/chevron_left.svg %}
                    </div>
                    <p>SMOKING</p>
                </div>
                <div class="right">
                    <p>ALCOHOL</p>
                    <div class="img-wrapper">
                            {% svg /assets/img/chevron_right.svg %}
                    </div>
                </div>
            </div>

            <div class="carousel-dots">
                <ul class="dots"></ul>
            </div>
            <!-- END carousel navigation -->

        </div>
    </div>

    {% elsif page.page-class == "en-prevention" %}

    <div id="risk-carousel-2" class="hb-carousel container grid-mdlg">

        <div class="carousel-content-wrapper">
    
            <!-- .close-btn -->
            <div class="close-btn">
                {% svg /assets/img/close_icon.svg %}
            </div>
            <!-- /.close-button -->
    
            {% for item in site.data.modals.prev-2 %}
            <!-- .carousel-content -->
            <div class="carousel-content" data-slide="{{ item.slide }}" data-name="{{ item.title }}" style="background: url('{{ site.url }}/assets/img/{{ item.bg }}') center no-repeat; background-size: cover;"> 
    
                <div class="left">
                    <div class="img-wrapper">
                        <img src="{{ site.url }}/assets/img/{{ item.icon }}" alt="{{ item.alt }}">
                    </div>
                </div>
                <div class="right">
                    <h5 class="modal-title">{{ item.title }}<i class="fas fa-circle hb-pink hb-period"></i></h5>
                    <p class="modal-text">{{ item.text }}</p>
                </div>  
            </div>
            <!-- /.carousel-content -->
            {% endfor %}
    
            <!-- START carousel navigation -->
            <div class="nav-arrows">
                <div class="left">
                    <div class="img-wrapper">
                            {% svg /assets/img/chevron_left.svg %}
                    </div>
                    <p>SMOKING</p>
                </div>
                <div class="right">
                    <p>ALCOHOL</p>
                    <div class="img-wrapper">
                            {% svg /assets/img/chevron_right.svg %}
                    </div>
                </div>
            </div>
    
            <div class="carousel-dots">
                <ul class="dots"></ul>
            </div>
            <!-- END carousel navigation -->
    
        </div>
    </div>

    {% endif %}