<nav class="navbar container grid-lg">

        <section class="logo">
            <a href="/" class="navbar-brand mr-10">
                <img src="{{ site.url }}/assets/img/hcan-logo-black.svg" alt="HCAN Sourcing">
            </a>
        </section>

        <section class="nav-menu">
            <nav class="pat-dropmenu animated">
                <ul class="navigation">

                    {% for item in site.data.menus.main-menu.menu-items %}
                    <li class="nav-item">

                        {% if item.subfolderitems %}
                        {% if item.url%}
                        <a class="nav-item__link has-sub animsition-link" href="{{ en_link }}{{ item.url }}">{{ item.title }}</a><i id="desktop-nav-icon" class="fas fa-chevron-down"></i>
                        {% else %}
                        <p class="nav-item__link no-bot-marg">{{ item.title }}</p>
                        <i id="desktop-nav-icon" class="fas fa-chevron-down"></i>
                        {% endif %}
                        <ul class="sub-nav">
                            {% for submenu in item.subfolderitems %}
                            <li class="sub-nav-item">
                                <a class="sub-nav-item__link animsition-link" href="{{ en_link }}{{ submenu.url }}">{{ submenu.page }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <a class="nav-item__link" href="{{ en_link }}{{ item.url }}">{{ item.title }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}

                    
                </ul>
            </nav>
        </section>
    </nav>