<!-- pink cta -->
{% if page.page-class == "en-treatments" or page.page-class == "fr-treatments" %}
<section class="pink-cta__wrapper lang-{{ page.lang }}">
{% else %}
<section id="link-target" class="pink-cta__wrapper lang-{{ page.lang }}">
{% endif %}
    <div class="pink-cta container grid-mdlg {{ page.page-class }}"> 
        <h2>{{ page.pink-cta-title }}</h2>
        <p>{{ page.pink-cta-subtitle }}</p>
        <div class="btn-wrapper">
            <a href="{{ page.pink-cta-btn-link }}" class="btn btn-white">{{ page.pink-cta-btn-text }}</a>
        </div>
    </div>
</section>
<!-- /pink cta -->
