<!-- pink cta 2 -->
<section name="link-target" class="pink-cta__wrapper lang-{{ page.lang }}">
    <div class="pink-cta container grid-mdlg {{ page.page-class }}"> 
        <h2>{{ page.pink-cta-2-title }}</h2>
        <p>{{ page.pink-cta-2-subtitle }}</p>

        {% if page.page-class == "en-exercise" %}
        <div class="btn-wrapper">
            <a href="{{ page.pink-cta-2-btn-link }}" class="btn dl-btn">{{ page.pink-cta-2-btn-text }}</a>
        </div>
        {% else %}
        <div class="btn-wrapper">
            <a href="{{ page.pink-cta-btn-link }}" class="btn btn-white">{{ page.pink-cta-2-btn-text }}</a>
        </div>
        {% endif %}
    </div>
</section>
<!-- /pink cta 2 -->