<!-- .references-module -->
<div class="references-module">

	<div class="container grid-md">

        {% if page.page-scope == 'prac' %}

            <p class="legal">* Results from the FREEDOM study — an international, randomized, double-blind, placebo-controlled study evaluating fracture reduction in postmenopausal osteoporosis patients receiving 60 mg Prolia or placebo subcutaneously once every 6 months for 3 years (n=7,808; Prolia n=3,902, placebo n=3,906). Subjects were between the ages of 60 and 91 years and had bone mineral density T-scores less than -2.5 and not less than -4.0. All women received at least 1000 mg calcium and at least 400 IU vitamin D supplementation per day. The primary endpoint was incidence of new vertebral fractures during the entire 36-month treatment period. Times to first hip and nonvertebral fracture were secondary endpoints.<sup class="legal-sup">1,2</sup></p>
            <p class="legal">The open-label FREEDOM extension study assessed long-term incidence of fractures. Among 2,343 women who received Prolia in the FREEDOM study and continued on therapy (years 4 through 10 of Prolia treatment), 1,343 (57.3%) completed 10 years.</p>
            <p class="legal">ARR=absolute risk reduction</p>

        {% elsif page.page-class == 'prac-how-prolia-works' %}

            <p class="legal">* Comparative clinical significance has not been established.</p>

        {% elsif page.page-class == 'prac-prolia-patient' %}

            <p class="legal">* High risk is defined as a 10-year fracture risk &gt;20% or prior fragility fracture of hip or spine or &gt;1 fragility fracture. Please see guidelines for complete recommendations.<sup class="legal-sup">2</sup></p>
            <p class="legal">Fictitious patients. May not be representative of all patients.<sup class="legal-sup">1</sup></p>

        {% elsif page.page-class == 'prolia-pat-profile' %}

            <p class="legal">* Results from the FREEDOM study — an international, randomized, double-blind, placebo-controlled study evaluating fracture reduction in postmenopausal osteoporosis patients receiving 60 mg Prolia or placebo subcutaneously once every 6 months for 3 years (n=7,808; Prolia n=3,902, placebo n=3,906). Subjects were between the ages of 60 and 91 years and had bone mineral density T-scores less than -2.5 and not less than -4.0. All women received at least 1000 mg calcium and at least 400 IU vitamin D supplementation per day. The primary endpoint was incidence of new vertebral fractures during the entire 36-month treatment period. Times to first hip and nonvertebral fracture were secondary endpoints.<sup class="legal-sup">1,2</sup></p>
            <p class="legal">Fictitious patients. May not be representative of all patients.<sup class="legal-sup">1</sup></p>

        {% elsif page.page-class == 'prac-provital' or page.page-class == 'prac-faq'  %}

            <p class="legal">* This offer is not available to the residents of Quebec.</p>
            <p class="legal">Jamieson Vitamins&trade; is a trademark of Jamieson Laboratories&nbsp;Ltd</p>

        {% elsif page.page-class == 'prac-scientific'  %}

            <p class="legal">* Of these subjects, 60 (31 in the Prolia group and 29 in the placebo group) were excluded from all analyses because the participation of their study centre was halted owing to issues related to study procedures and the reliability of data.<sup class="legal-sup">2</sup></p>

        {% elsif page.page-class == 'prac-coverage'  %}

            <p class="legal">* Based on the 2013 TELUS Health Solutions Census of Insurers data.</p>
            <p class="legal bm-0">&dagger; See respective formularies for details.</p>

        {% elsif page.page-class == 'prac-nonvert-fracture'  %}

            <p class="legal">* Results from the FREEDOM study — an international, randomized, double-blind, placebo-controlled study evaluating fracture reduction in postmenopausal osteoporosis patients receiving 60 mg Prolia or placebo subcutaneously once every 6 months for 3 years (n=7,808; Prolia n=3,902, placebo n=3,906). Subjects were between the ages of 60 and 91 years and had bone mineral density T-scores less than -2.5 and not less than -4.0. All women received at least 1000 mg calcium and at least 400 IU vitamin D supplementation per day. The primary endpoint was incidence of new vertebral fractures during the entire 36-month treatment period. Times to first hip and nonvertebral fracture were secondary endpoints.<sup class="legal-sup">1,2</sup></p>
            <p class="legal">The open-label FREEDOM extension study assessed long-term incidence of fractures. Among 2,343 women who received Prolia in the FREEDOM study and continued on therapy (years 4 through 10 of Prolia treatment), 1,343 (57.3%) completed 10 years.</p>
            <p class="legal">&dagger; Hazard ratio, 0.80; 95% confidence interval [CI], 0.67 to 0.95; p=0.01.2</p>

        {% elsif page.page-class == 'prac-bmd-placebo'  %}

            <p class="legal">* Results from the FREEDOM study – an international, randomized, double-blind, placebo-controlled study in postmenopausal patients with osteoporosis receiving 60 mg Prolia or placebo subcutaneously once every 6 months for 3 years (n=7,808, Prolia n=3,902, placebo n=3,906). Subjects were between the ages of 60 and 91 years and had bone mineral density T-scores ranging between -2.5 and -4.0. All women received at least 1000 mg calcium and at least 400 IU vitamin D supplementation per day. The primary endpoint was incidence of new vertebral fractures during the entire 36-month treatment period. Times to first hip and nonvertebral fracture were secondary endpoints. Bone mineral density was measured at the hip and lumbar spine from baseline through 36 months. Significant improvement seen at 12 months.<sup class="legal-sup">1,2</sup></p>
            <p class="legal">The open-label FREEDOM extension study assessed long-term incidence of fractures. Among 2,343 women who received Prolia in the FREEDOM study and continued on therapy (years 4 through 10 of Prolia treatment), 1,343 (57.3%) completed 10 years.</p>
            <p class="legal">&dagger; List of sites is not exhaustive.</p>
            
        {% elsif page.page-class == 'prac-rapid-bmd-gains'  %}

            <p class="legal">* Results from the FREEDOM study – an international, randomized, double-blind, placebo-controlled study evaluating fracture reduction in postmenopausal osteoporosis patients receiving 60 mg Prolia or placebo subcutaneously once every 6 months for 3 years (n=7,808; Prolia n=3,902, placebo n=3,906). Subjects were between the ages of 60 and 91 years and had bone mineral density T-scores less than -2.5 and not less than -4.0. All women received at least 1000 mg calcium and at least 400 IU vitamin D supplementation per day. The primary endpoint was incidence of new vertebral fractures during the entire 36-month treatment period. Times to first hip and nonvertebral fracture were secondary endpoints. Bone mineral density (BMD) was measured at the total hip and lumbar spine from baseline through 36 months in a substudy (n=441; Prolia n=232, placebo n=209).</p>
            <p class="legal">&dagger; Changes in mean bone mineral density (BMD) at the total hip and lumbar spine are shown for 441 subjects who were included in a substudy of measurements of bone mineral density. As compared with subjects in the placebo group, subjects in the denosumab group had a relative increase of 6.0% at the total hip and 9.2% at the lumbar spine.</p>
 d e
        {% elsif page.page-class == 'prac-efficacy'  %}

            <p class="legal">* Results from the FREEDOM study – an international, randomized, double-blind, placebo-controlled study evaluating fracture reduction in postmenopausal osteoporosis patients receiving 60 mg Prolia or placebo subcutaneously once every 6 months for 3 years (n=7,808; Prolia n=3,902, placebo n=3,906). Subjects were between the ages of 60 and 91 years and had bone mineral density T-scores less than -2.5 and not less than -4.0. All women received at least 1000 mg calcium and at least 400 IU vitamin D supplementation per day. The primary endpoint was incidence of new vertebral fractures during the entire 36-month treatment period. Times to first hip and nonvertebral fracture were secondary endpoints.<sup class="legal-sup">1,2</sup></p>
            <p class="legal"><sup class="legal-sup">&dagger;</sup> Of these subjects, 60 (31 in the Prolia group and 29 in the placebo group) were excluded from all analyses because the participation of their study centre was halted owing to issues related to study procedures and the reliability of data.<sup class="legal-sup">2</sup></p>
            
        {% endif %}

        {% if page.page-class != 'prac-provital' and page.page-class != 'prac-coverage' %}
            <h6>References</h6>
        {% endif %}
        
		{% if page.page-class == 'pat-about' %}

			<table style="width:100%">
			{% for item in site.data.legal-notes.pat-about %}
				
				<tr>
					<td class="legal text">{{ item.number }}</td>
					<td class="legal body">{{ item.text }}</td>
				</tr>
			
			{% endfor %}
			</table>

		{% elsif page.page-class == 'pat-home' %}
			
			<table style="width:100%">
				{% for item in site.data.legal-notes.pat-home %}
					
					<tr>
						<td class="legal text">{{ item.number }}</td>
						<td class="legal body">{{ item.text }}</td>
					</tr>
				
				{% endfor %}
			</table>

		{% elsif page.page-class == 'pat-about-osteo' %}
		
			<table style="width:100%">
				{% for item in site.data.legal-notes.pat-about-osteo %}
					
					<tr>
						<td class="legal text">{{ item.number }}</td>
						<td class="legal body">{{ item.text }}</td>
					</tr>
				
				{% endfor %}
			</table>

		{% elsif page.page-class == 'pat-exercise' %}
	
		<table style="width:100%">
			{% for item in site.data.legal-notes.pat-exercise %}
				
				<tr>
					<td class="legal text">{{ item.number }}</td>
					<td class="legal body">{{ item.text }}</td>
				</tr>
			
			{% endfor %}
		</table>

		{% elsif page.page-class == 'pat-eating-right' %}
	
		<table style="width:100%">
			{% for item in site.data.legal-notes.pat-eating-right %}
				
				<tr>
					<td class="legal text">{{ item.number }}</td>
					<td class="legal body">{{ item.text }}</td>
				</tr>
			
			{% endfor %}
		</table>

		{% elsif page.page-class == 'pat-faq' %}
	
		<table style="width:100%">
			{% for item in site.data.legal-notes.pat-faq %}
				
				<tr>
					<td class="legal text">{{ item.number }}</td>
					<td class="legal body">{{ item.text }}</td>
				</tr>
			
			{% endfor %}
		</table>

		{% elsif page.page-class == 'prac-home' %}
	
		<table style="width:100%">
			{% for item in site.data.legal-notes.prac-home %}
				
				<tr>
					<td class="legal text">{{ item.number }}</td>
					<td class="legal body">{{ item.text }}</td>
				</tr>
			
			{% endfor %}
		</table>

		{% elsif page.page-class == 'prac-efficacy' %}
	
		<table style="width:100%">
			{% for item in site.data.legal-notes.prac-efficacy %}
				
				<tr>
					<td class="legal text">{{ item.number }}</td>
					<td class="legal body">{{ item.text }}</td>
				</tr>
			
			{% endfor %}
        </table>
        
        {% elsif page.page-class == 'prac-hip-fracture' %}
	
		<table style="width:100%">
			{% for item in site.data.legal-notes.prac-hip-fracture %}
				
				<tr>
					<td class="legal text">{{ item.number }}</td>
					<td class="legal body">{{ item.text }}</td>
				</tr>
			
			{% endfor %}
        </table>
        
        {% elsif page.page-class == 'prac-vert-fracture' %}
	
		<table style="width:100%">
			{% for item in site.data.legal-notes.prac-vert-fracture %}
				
				<tr>
					<td class="legal text">{{ item.number }}</td>
					<td class="legal body">{{ item.text }}</td>
				</tr>
			
			{% endfor %}
        </table>
        
        {% elsif page.page-class == 'prac-nonvert-fracture' %}
	
		<table style="width:100%">
			{% for item in site.data.legal-notes.prac-nonvert-fracture %}
				
				<tr>
					<td class="legal text">{{ item.number }}</td>
					<td class="legal body">{{ item.text }}</td>
				</tr>
			
			{% endfor %}
        </table>
        
        {% elsif page.page-class == 'prac-bmd-placebo' %}
	
		<table style="width:100%">
			{% for item in site.data.legal-notes.prac-bmd-placebo %}
				
				<tr>
					<td class="legal text">{{ item.number }}</td>
					<td class="legal body">{{ item.text }}</td>
				</tr>
			
			{% endfor %}
        </table>
        
        {% elsif page.page-class == 'prac-rapid-bmd-gains' %}
	
        <table style="width:100%">
            
			{% for item in site.data.legal-notes.prac-rapid-bmd-gains %}
				
				<tr>
					<td class="legal text">{{ item.number }}</td>
					<td class="legal body">{{ item.text }}</td>
				</tr>
			
            {% endfor %}

        </table>
            
        {% elsif page.page-class == 'prac-safety-info' %}
	
        <table style="width:100%">

            {% for item in site.data.legal-notes.prac-safety-info %}
                
                <tr>
                    <td class="legal text">{{ item.number }}</td>
                    <td class="legal body">{{ item.text }}</td>
                </tr>
            
            {% endfor %}

        </table>
        
        {% elsif page.page-class == 'prac-how-prolia-works' %}
	
        <table style="width:100%">

            {% for item in site.data.legal-notes.prac-how-prolia-works %}
                
                <tr>
                    <td class="legal text">{{ item.number }}</td>
                    <td class="legal body">{{ item.text }}</td>
                </tr>
            
            {% endfor %}

        </table>
        
        {% elsif page.page-class == 'prac-storage' %}
	
        <table style="width:100%">

            {% for item in site.data.legal-notes.prac-storage %}
                
                <tr>
                    <td class="legal text">{{ item.number }}</td>
                    <td class="legal body">{{ item.text }}</td>
                </tr>
            
            {% endfor %}

        </table>
        
        {% elsif page.page-class == 'prac-prolia-patient' %}
	
        <table style="width:100%">

            {% for item in site.data.legal-notes.prac-prolia-patient %}
                
                <tr>
                    <td class="legal text">{{ item.number }}</td>
                    <td class="legal body">{{ item.text }}</td>
                </tr>
            
            {% endfor %}

		</table>

        {% elsif page.page-class == 'prolia-pat-profile' %}
	
        <table style="width:100%">

            {% for item in site.data.legal-notes.prac-patient %}
                
                <tr>
                    <td class="legal text">{{ item.number }}</td>
                    <td class="legal body">{{ item.text }}</td>
                </tr>
            
            {% endfor %}

        </table>
        
        {% elsif page.page-class == 'prac-start' %}
	
        <table style="width:100%">

            {% for item in site.data.legal-notes.prac-start %}
                
                <tr>
                    <td class="legal text">{{ item.number }}</td>
                    <td class="legal body">{{ item.text }}</td>
                </tr>
            
            {% endfor %}

        </table>
        
        {% elsif page.page-class == 'prac-faq' %}
	
        <table style="width:100%">

            {% for item in site.data.legal-notes.prac-faq %}
                
                <tr>
                    <td class="legal text">{{ item.number }}</td>
                    <td class="legal body">{{ item.text }}</td>
                </tr>
            
            {% endfor %}

        </table>
        
        {% elsif page.page-class == 'prac-scientific' %}
	
        <table style="width:100%">

            {% for item in site.data.legal-notes.prac-scientific %}
                
                <tr>
                    <td class="legal text">{{ item.number }}</td>
                    <td class="legal body">{{ item.text }}</td>
                </tr>
            
            {% endfor %}

        </table>
        
        {% elsif page.page-class == 'prac-virtual-library' %}
	
        <table style="width:100%">

            {% for item in site.data.legal-notes.prac-virtual-library %}
                
                <tr>
                    <td class="legal text">{{ item.number }}</td>
                    <td class="legal body">{{ item.text }}</td>
                </tr>
            
            {% endfor %}

		</table>

		{% endif %}

	</div>

</div>
<!-- ./references-module -->