<!-- START resources section -->
<div class="resources__wrapper {{ page.page-class }}">
    <div class="resources container grid-md">
        <div class="resources__content">

            {% for item in site.data.lists.resources %}
                <h1 class="hide">{{ item.headline }}</h1>    
                <h2>{{ item.headline }}</h2>
                <h6>{{ item.subhead }}</h6>

                {% for subitem in item.resource %}
                <div class="sub-wrapper">

                    <div class="img-wrapper">
                        <img src="{{ site.url }}/assets/img/globe-icon.svg" alt="Globe Icon"></img>
                    </div>
                    <a class="ob-link" href="{{ subitem.link }}" target="_blank">{{ subitem.title }}</a>
                </div>
                {% endfor %}

            {% endfor %}

        </div>
    </div>
</div>
<!-- END resources -->