
<script src="{{ site.url }}/assets/js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/vendor/jquery.paroller.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/vendor/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/vendor/jquery-easing.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/vendor/dragend.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/vendor/animsition.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/vendor/jquery.localScroll.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/vendor/jquery.scrollTo.min.js"></script>
<script src="{{ site.url }}/assets/js/scripts.js"></script>