<section class="three-col-img-c {{ page.page-class }}">
   
    <div class="three-col-img-c__content container grid-lg ">
   
        <!-- START LEFT COLUMN -->
		<div class="three-col-img-c__content__left">
                
            <div class="img-wrapper">
                <img src="{{ site.url }}/assets/img/{{ page.three-col-img-l }}" alt="{{ page.three-col-img-l-alt }}">
            </div>
                
            <div class="text-wrapper">
                <p class="title">{{ page.three-col-img-l-title }}</p>
                <p class="text">{{ page.three-col-img-l-text }}</p>
            </div>
                       
        </div> <!-- END LEFT COLUMN -->
        
        <!-- START CENTER COLUMN -->
		<div class="three-col-img-c__content__center">
            
            <div class="img-wrapper">
                <img src="{{ site.url }}/assets/img/{{ page.three-col-img-c }}" alt="{{ page.three-col-img-c-alt }}">
            </div>

            <div class="text-wrapper">
                <p class="title">{{ page.three-col-img-c-title }}</p>
                <p class="text">{{ page.three-col-img-c-text }}</p>
            </div>
               
		</div> <!-- END CENTER COLUMN -->
        <!-- START RIGHT COLUMN -->
		<div class="three-col-img-c__content__right">
                
            <div class="img-wrapper">
                <img src="{{ site.url }}/assets/img/{{ page.three-col-img-r }}" alt="{{ page.three-col-img-r-alt }}">
            </div>
            
            <div class="text-wrapper">
                <p class="title">{{ page.three-col-img-r-title }}</p>
                <p class="text">{{ page.three-col-img-r-text }}</p>
            </div>
           
		</div> <!-- END RIGHT COLUMN -->
	</div>
</section>