{% if page.page-class= "en-dangers" %}
{% for item in site.data.pages.dangers.section %}
<section class="container grid-mdlg two-col {{ page.page-class }}">
    <div class="two-col__content">

        <div class="two-col__content__left">

            <div class="content">
                <h2>{{ item.hero-text-left }}</h2>
            </div>  

        </div>
        
        <div class="two-col__content__right">

            <div class="content">

                <h3 class="title pink-period">{{ item.title-right }}</h3>
                <p>{{ item.text-right }}</p>
  
                <div class="cta-wrapper">
                    <a href="{{ item.cta-link }}" class="arrow-cta hb-pink">
                        {{ item.cta-right }}
                        <i class="fas fa-chevron-right arrow-cta-icon"></i>
                    </a>
                    
                </div>

            </div>
        </div>

    </div>
</section>
{% endfor %}
{% else %}

<section class="container grid-mdlg two-col {{ page.page-class }}">
    <div class="two-col__content">
        <div class="two-col__content__left">

            <div class="content">
                {% if page.two-col-img-l %}
                <div class="img-wrapper">
                    <img src="{{ site.url }}/assets/img/{{ page.two-col-img-l }}" alt="{{ page.two-col-img-l-alt }}">
                </div>
                {% endif %}

                {% if page.two-col-img-l-text %}
                <h5>{{ page.two-col-img-l-text-title }}</h5>
                <p>{{ page.two-col-img-l-text }}</p>
                {% endif %}

                {% if page.two-col-l-hero-text %}
                <h2>{{ page.two-col-l-hero-text }}</h2>
                {% endif %}

            </div>  
        </div>
        
        <div class="two-col__content__right">

            <div class="content">
            
                {% if page.two-col-img-r %}
                <div class="img-wrapper">
                    <img src="{{ site.url }}/assets/img/{{ page.two-col-img-r }}" alt="{{ page.two-col-img-r-alt }}">
                </div>
                {% endif %}

                {% if page.two-col-r-text %}
                <h3 class="title pink-period">{{ page.two-col-r-title }}</h3>
                <p>{{ page.two-col-r-text }}</p>
                {% endif %}

                {% if page.two-col-r-hero-text %}
                <h2>{{ page.two-col-r-hero-text }}</h2>
                {% endif %}

                {% if page.two-col-r-cta %}
                <a href="{{ page.two-col-r-link }}" class="arrow-cta hb-pink">
                    {{ page.two-col-r-cta }}
                    <i class="fas fa-chevron-right arrow-cta-icon"></i>
                </a>
                {% endif %}

            </div>

        </div>
    </div>
</section>
{% endif %}