
<section class="container grid-mdlg two-col-img-l {{ page.page-class }}">

	<div class="two-col-img-l__left">
		{% if page.two-col-img-l-img %}
		<div class="img-wrapper">
			<img src="{{ site.url }}/assets/img/{{ page.two-col-img-l-img }}" alt="{{ page.two-col-img-l-alt }}">
		</div>
		{% endif %}
    </div>
    
	<div class="two-col-img-l__right">	
		<h2>{{ page.two-col-img-l-title }}</h2>
		<p>{{ page.two-col-img-l-text }}</p>
        {% if page.two-col-img-l-cta %}
            <a href="{{ page.two-col-img-l-cta-link }}" class="arrow-cta">
                {{ page.two-col-img-l-cta }}
                <img src="{{ site.url }}/assets/img/{{ page.two-col-img-l-arrow-img }}" alt="Arrow Image">
		{% endif %}
		{% if page.page-class == 'pat-exercise' %}
			{% for item in site.data.lists.pat-exercise.two %}	<p class="list-item-text">{{ item }}</p>
			{% endfor %}
		{% elsif page.page-class == 'pat-eating-right' %}
			{% for item in site.data.lists.pat-eating-right %}	<p class="list-item-text">{{ item }}</p>
			{% endfor %}
		{% endif %}
		</a>
	</div>
</section>