<!-- .two-col-img-l-2 -->
<section class="two-col-img-l-2 {{ page.page-class }}"> 

    <div class="two-col-img-l-2__left">
        <div class="img-wrapper" style="background: url('{{ site.url }}/assets/img/{{ page.two-col-img-l-2-img }}') center no-repeat; background-size: cover;">
        </div>
    </div>

    <div class="two-col-img-l-2__right">
        <div class="content">
            {% if page.two-col-img-l-2-title %}
            <h2>{{ page.two-col-img-l-2-title }}</h2>
            {% endif %}

            {% if page.two-col-img-l-2-text %}
            <p>{{ page.two-col-img-l-2-text }}</p>
            {% endif %}

            {% if page.two-col-img-l-2-btn-text %}
            <div class="btn-wrapper">
                <a href="#" class="btn download-btn">{{ page.two-col-img-l-2-btn-text }}</a>
            </div>
            {% endif %}
        </div>
    </div>

</section>
<!-- /.two-col-img-l-2 -->