<!-- .two-col-img-r -->
<section class="two-col-img-r {{ page.page-class }}"> 
    <div class="two-col-img-r__left">
        <div class="content">
            {% if page.two-col-img-r-title %}
            <h2>{{ page.two-col-img-r-title }}</h2>
            {% endif %}

            {% if page.two-col-img-r-text %}
            <p>{{ page.two-col-img-r-text }}</p>
            {% endif %}

            {% if page.two-col-img-r-btn-text %}
            <div class="btn-wrapper">
                <a href="#" class="btn download-btn">{{ page.two-col-img-r-btn-text }}</a>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="two-col-img-r__right">
        <div class="img-wrapper" style="background: url('{{ site.url }}/assets/img/{{ page.two-col-img-r-img }}') center no-repeat; background-size: cover;">
        </div>
    </div>
</section>
<!-- /.two-col-img-r -->