.three-col-img-c {
    background: #f2f2f2;
    @extend %section-padding-both;

    &__title,
    &__subtitle {
        text-align: center;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        @include mq(small, max) {
            flex-wrap: wrap;
        }

        &__left,
        &__center,
        &__right {
            width: 30%;
            text-align: center;
            @include mq(small, max) {
                width: 100%;
                margin-bottom: 40px;
            }

            .img-wrapper {
                width: 50px;
                margin: 0 auto;
                margin-bottom: 1rem;

                img {
                    width: 100%;
                }
            }

            .text-wrapper {
                max-width: 275px;
                margin: 0 auto;

                .title {
                    font-weight: 700;
                    @include font-size(16);
                    margin-bottom: 0.5rem;
                }

                .text {
                    @include font-size(15);
                    margin-bottom: 0;
                }
            }
        }

        &__right {
            @include mq(small, max) {
                margin-bottom: 0;
            }
        }
    }
}