footer {
    background: $footer;
    padding: 80px 20px;
    position: relative;
    z-index: 100;

    @include mq(xsmall, max) {
        padding: 80px 0;
    }

    .footer-info {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;

        @include mq(small, max) {
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
        }

        &__left {
            width: 50%;

            @include mq(small, max) {
                width: 100%;
            }

            &__logo {
                margin-bottom: 30px;

                img {
                    max-width: 200px;
                    width: 100%;
                    height: auto;
                }
                @include mq(small, max) {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 20px;
                }
            }

            &__text p {
                color: #FFFFFF;
                margin: 0;
            }
        }

        &__right {
            width: 48%;

            @include mq(small, max) {
                width: 100%;
            }

            &__general {
                display: flex;
                justify-content: flex-end;

                @include mq(med, max) {
                    justify-content: center;
                    margin: 1rem 0 2rem;
                }

                @include mq(xsmall, max) {
                    flex-wrap: wrap;
                }

                .menu-wrapper {
                    width: 100%;

                    .title {
                        color: #FFFFFF;
                        @include font-size(16);
                        font-family: $headline-font;
                        margin-bottom: 0.8rem;
                    }

                    .text {
                        display: block;
                        color: #FFFFFF;
                        @include font-size(14);
                        margin-bottom: 0.3rem;

                        &:hover {
                            color: $accent;
                        }
                    }
                }

                .left {
                    text-align: right;
                    padding-right: 20px;

                    @include mq(xsmall, max) {
                        width: 100%;
                        text-align: left;
                        padding: 0 0 1rem;
                    }
                }

                .right {
                    width: 48%;
                    text-align: right;

                    @include mq(small, max) {
                        text-align: left;
                        padding-left: 20px;
                    }

                    @include mq(xsmall, max) {
                        width: 100%;
                        padding: 0;
                    }
                }
            }

            .footer-info__right__text {
                margin-top: 2rem;

                @include mq(small, max) {
                    text-align: center;
                }

                @include mq(xsmall, max) {
                    margin-top: 1rem;
                    text-align: left;
                }

                p {
                    color: #FFFFFF;
                }
            }
        }
    }

    .footer-legal {
        // margin-top: 2rem;
        border-top: 1px solid #979797;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include mq(med, max) {
            margin: 0.5rem;
        }

        @include mq(med, max) {
            margin-top: 0.5rem;
            flex-direction: column-reverse;
        }

        .left {
            margin-top: 2rem;
            width: 30%;

            @include mq(med, max) {
                width: 100%;
                text-align: center;
                margin: 1rem 0 0.5rem;
            }

            @include mq(custom, max, 420) {
                margin: 0;
            }
        }

        .right {
            margin-top: 2rem;
            width: 70%;
            text-align: right;

            @include mq(med, max) {
                width: 100%;
                text-align: center;
                margin: 2rem 0 0;
            }

            @include mq(custom, max, 420) {
                margin: 1.5rem 0 0.5rem;
            }

            a {
                margin: 0 20px;

                @include mq(small, max) {
                    margin-bottom: 10px;
                }

                &:last-child {
                    margin-right: 0;

                    @include mq(small, max) {
                        margin-right: 20px;
                    }
                }
            }
        }

        p {

            span {
                padding: 0 10px;
                color: #FFFFFF;

                @include mq(custom, max, 420) {
                    display: none;
                }
            }

            a {
                color: #FFFFFF;

                @include mq(small, max) {
                    display: block;
                    margin-bottom: 20px;
                }

                &:hover {
                    color: $accent;
                }
            }
        }
    }
}
